{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Soluciones</title>
{% endblock %}

{% block content %}
  <div class="solutions">
    <div class="solutions-content">
      <div class="solutions-title-container">
        <h1 class="barlow-light fs-39">Algunas de<br>nuestras soluciones</h1>
      </div>
      <div class="solutions-carousel owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Enterprise</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Administración de sistemas IT</li>
              <li>Migración de datos</li>
              <li>Mantenimiento terminales de trabajo</li>
              <li>Seguridad Informática</li>
              <li>Escritorios Virtuales</li>
              <li>Replicación de redes</li>
              <li>Mantenimiento de redes LAN</li>
              <li>Mantenimiento de servidores</li>
              <li>Venta de laptops y servidores a pedido</li>
            </ul>
          </div>
          <div class="solutions-card-separator-container">
            <div class="solutions-card-separator"></div>
          </div>
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Servicios fuera de garantía</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Asistencia técnica correctiva de las computadoras de escritorio</li>
              <li>Cambio o instalación de nuevos componentes de hardware</li>
              <li>Eliminación de virus</li>
              <li>Restauración de sistema operativo</li>
              <li>Configuración de drivers y periféricos</li>
              <li>Configuración a Internet y correo electrónico</li>
              <li>Asistencia técnica preventiva de la computadora</li>
              <li>Eliminación de archivos temporales y corruptos</li>
              <li>Desfragmentación de discos</li>
              <li>Actualización de antivirus</li>
              <li>Revisión de red y configuración de la misma</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="solutions-carousel-mobile owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Enterprise</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Administración de sistemas IT</li>
              <li>Migración de datos</li>
              <li>Mantenimiento terminales de trabajo</li>
              <li>Seguridad Informática</li>
              <li>Escritorios Virtuales</li>
              <li>Replicación de redes</li>
              <li>Mantenimiento de redes LAN</li>
              <li>Mantenimiento de servidores</li>
              <li>Venta de laptops y servidores a pedido</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Servicios fuera de garantía</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Asistencia técnica correctiva de las computadoras de escritorio</li>
              <li>Cambio o instalación de nuevos componentes de hardware</li>
              <li>Eliminación de virus</li>
              <li>Restauración de sistema operativo</li>
              <li>Configuración de drivers y periféricos</li>
              <li>Configuración a Internet y correo electrónico</li>
              <li>Asistencia técnica preventiva de la computadora</li>
              <li>Eliminación de archivos temporales y corruptos</li>
              <li>Desfragmentación de discos</li>
              <li>Actualización de antivirus</li>
              <li>Revisión de red y configuración de la misma</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
